<template name="profileAuthor">
	<div class="container">
		<div class="row">
			<h1>Profile</h1>
		    <div class="col-lg-12 col-xs-12">
		      	<div class="well panel panel-default">
		        	<div class="panel-body">
		          		<div class="row">
				            <div class="col-xs-12 col-sm-4 text-center">
					            <img src="/uploads/{{getprofile profile.avatar}}" alt="" class="center-block img-circle img-thumbnail img-responsive">
					              <ul class="list-inline ratings text-center" title="Ratings">
					                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
					                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
					                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
					                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
					                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
					            </ul>
				            </div>
				            <!--/col--> 
				            <div class="col-xs-12 col-sm-8">
				            		{{#if checkEditprofile _id}}
					            		<a class="pull-right" href="/editprofileAuthor">
						              		<input type="submit" class="btn btn-danger btn-md" btn="editprofile" value="Edit Profile">
						              	</a>
						            {{/if}}
					              <h2>{{profile.firstname}} {{profile.lastname}}</h2>
					              <p><strong>About: </strong>{{profile.about}}</p>
					              <p><strong>Hobbies: </strong>{{profile.hobbies}}</p>
					              <p><strong>Skills: </strong>
					                <span class="label label-info tags">{{profile.skills}}</span> 
					              </p>
				            </div>
				            <!--/col-->          
			            	<div class="clearfix"></div>
				            <div class="col-xs-12 col-sm-4">
				              <h2><strong> 20,7K </strong></h2>
				              <p><small>Followers</small></p>
				              <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
				            </div>
			            	<!--/col-->
				            <div class="col-xs-12 col-sm-4">
				              <h2><strong>245</strong></h2>
				              <p><small>Following</small></p>
				              <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
				            </div>
			            	<!--/col-->
				            <div class="col-xs-12 col-sm-4">
				              <h2><strong>43</strong></h2>
				              <p><small>Snippets</small></p>
				              <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>  
				            </div>
			            	<!--/col-->
		          		</div>
		          		<!--/row-->
		          		<div style="margin-top:50px">
			          		<table class="table">
			          			<thead>
				          			<tr>
					          			<th>Title</th>
					          			<th>Text</th>
					          			<th>Date</th>
					          			<th>Author</th>
					          			<th>Categories</th>
					          		</tr>
					          	</thead>
				          		{{#each currentPost}}
				          			<tbody>
					          			<tr>
					          				<td><a href="{{url}}">{{title}}</a></td>
					          				<td>{{text}}</td>
					          				<td>{{livestamp date}}</td>
					          				<td><a href="/profileAuthor/{{author}}">{{getAuthorname author}}</a></td>
					          				<td>{{getCategory}}</td>
					          			</tr>
					          		</tbody>
				          		{{/each}}
			          		</table>
			          	</div>
		        	</div>
		        <!--/panel-body-->
		      	</div>
		      <!--/panel-->
		    </div>
	    	<!--/col--> 
	  	</div>
	  	<!--/row--> 
	</div>
	<!--/container-->
</template>