<template name="leftside">
	<div class="left-wrapper">
		<div class="col-md-4">
			<div class="left-container">
				<h1 class="margin-bottom"><b>TOP PERFUME TRENDS</b></h1>
				{{#each getProductReview}}
					<div class="row">
						<div class="col-md-4">
							<div class="h1"><i class="fa fa-circle circle-color {{coloraverage _id}}"></i> {{getAverage _id}}%</div>
						</div>
						<div class="col-md-8">
							<div class="h2"><a href="/details/{{_id}}">{{product_name}}</a></div>
						</div>
					</div>
				{{/each}}
				<br>
				<div class="col-md-12">
					<div class="h1"><a href="/viewStatus">View All </a></div>
				</div>
			</div><!-- left container -->
			<div class="left-container">
				<h1 class="margin-bottom"><b>TOP JUST ARRIVED</b></h1>
				{{#each getreview}}
					<div class="row">
						<div class="col-md-4">
							<div class="h1">
								<i class="fa fa-circle circle-color {{checkcolor average}}"></i>{{checkaverage average}}%
							</div>

						</div>
						<div class="col-md-8">
							<div class="h2"><a href="/details/{{_id}}">{{product_name}}</a></div>
						</div>
					</div>
				{{/each}}
				<br>
				<div class="col-md-12">
					<div class="h1"><a href="/viewTopReview">View All </a></div>
				</div>
			</div><!-- left container -->
			{{#if detial}}
				<div class="left-container" id="detail">
					<h1 class="margin-bottom"><b>PERFUME DETAIL</b></h1>
					<div class="row">
						<div class="col-md-10">
						  <a href="/perfumeDetail/{{_id}}"><div class="bg-detail-a">
						   <div class="col-md-5">
						    <img src="/images/icon-pro2.png"> 
						   	</div>
						   	<div class="col-md-7">
						   	<img src="/images/icon-pro1.png"> 
						   </div>
						  </div> </a>
						</div>
					</div>
					<br>
					<div class="col-md-12">
						<div class="h1"><a href="/perfumeDetail/{{_id}}">View All </a></div>
					</div>
				</div>
			{{/if}}
			<!-- left container -->
			<div class="left-container">
				<h1 class="margin-bottom"><b>TOP MEN PERFUME</b></h1>
				{{#each getTopperfume}}
				<div class="row">
					<div class="col-md-4">
						<div class="h1"><i class="fa fa-circle circle-color {{checkcolor average}}"></i>{{checkaverage average}}%</div>
					</div>

					<div class="col-md-8">
					
						<div class="h2"><a href="/details/{{_id}}">{{product_name}}</a></div>
					</div>
				</div>
				{{/each}}
				<br>
				<div class="col-md-12">
					<div class="h1"><a href="/viewTopPerfume">View All </a></div>
				</div>
			</div><!-- left container -->
		</div>				
	</div>
</template>