<template name="slider">
	<div class="col-md-12 margin-bottom">
		<div class="col-md-7">
				<section class="install">				
					<div class="demo hasActive">
						<ul id="responsive" class="gallery content-slider list-unstyled clearfix cS-hidden">
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>
							<li>
								<img src="images/image1.png" class="img-responsive" alt="">
							</li>										
						</ul>
					</div>								
				</section>
		</div>
		<div class="col-md-5">
			<h1>BEST PERFUME OF THE MONTH</h1>
				<section class="install">				
					<div class="demo hasActive">
						<ul id="responsive1" class="gallery content-slider list-unstyled clearfix cS-hidden">
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>
							<li>
								<img src="images/image2.png" class="img-responsive" alt="" height="200">
							</li>										
						</ul>
					</div>								
				</section>
		</div>
	</div>
</template>