<template name="updateCategory">
	<div class="container con-body">
		<div class="row">
			{{> adminmenu}}
			<div class="col-lg-9">
					<p>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-link">Link</button>
                    </p>
					<form role="form">
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" id="title" required value="{{title}}">
                            <input type="hidden" id="image" value="{{image}}">
                        </div>
                        <div class="form-group">
                            <label>File input</label>
                            <input type="file" id="upload">
                        </div>
                        <div class="row pull-right">
                            <input type="submit"  value="Update" id="btnUpdate" class="btn btn-primary btn-block">
                        </div>
                    </form>
				</div>
		</div>
	</div>
</template>