<!-- <template name="_pagesNav">  
  {{#if show}}
    <div data-pages="{{name}}" class="pagination-cont">
      <div class="pagination">
      {{#each navigationNeighbors}}
        {{#unless isNavLink}}<div class="sm-hide clear"></div>{{/unless}}
        {{#if isNextLink}}<div class="sm-hide clear"></div>{{/if}}
        <a class="pagination-item block {{#unless isNavLink}}number{{/unless}} ml1 mr1 left plain-nav-link-with-hover {{active}} {{disabled}}" href="{{link}}">{{p}}</a>
      {{/each}}
      </div>
    </div>
  {{/if}}
</template>   -->