<template name="viewStatus">
    {{> leftside}}
    <div class="main-content">
        <div class="col-md-8">
            <div class="content">
                <div class="row space-row">
                    {{#each getProductReview}}
                    <div class="col-md-4"> 
                        <a href="/details/{{_id}}">
                            <img src="{{image}}" class="img-responsive center-block" width="100%" height="200">
                        </a>
                        <h3 class="space-top">Product Name: {{product_name}}</h3>
                        <h3>Category: <b>{{getcat}}</b></h3>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>