<template name="home">
            {{> leftside}}
            <div class="main-content">
                <div class="col-md-8">
                    <div class="content">
                        <div class="row">
                        {{#with firstImage}}
                             <div class="col-md-7">
                                <h1>ROUGE COCO</h1>
                                <a href="/details/{{_id}}"><img src="{{image}}" class="img-responsive" alt=""></a>
                                <div class="h2 color-yellow text-right margin-bottom">Lip Makeup </div>
                            </div>
                        {{/with}}
                        {{#with secondImage}}
                            <div class="col-md-5">
                                <h1>ROUGE COCO</h1>
                            <a href="/details/{{_id}}"><img src="{{image}}" class="img-responsive" alt=""></a>
                                <div class="h2 color-yellow text-right margin-bottom">Lip Makeup </div>
                            </div>
                        {{/with}}
                        </div>
                    </div><!--end content-->
                     <!-- <div class="content">
                        <h1 class="margin-bottom">INCARNATA D’ANATOLE LEBRETON, ROUGE BAISER ET IRIS LUMIÈRE</h1>
                        <img src="images/perfume.png" class="img-responsive margin-bottom" alt="">
                        <div class="h2 color-yellow text-right margin-bottom">Fragrance</div>
                    </div>end content  -->
                    <div class="row">
                    {{#with getData}}
                            <div class="col-md-12">
                                <h1>{{name}}</h1>
                                <a href="/details/{{_id}}"><img src="{{image}}" class="img-responsive margin-bottom" alt=""></a>
                                <!-- <div class="h2 color-yellow text-right">How To</div> -->
                            </div>
                    {{/with}}
                    </div>
                </div>
            </div>
            <!-- {{> pagination}} -->
</template>