<template name="listdatabycat">
    {{> leftside}}
    <div class="main-content">
        <div class="col-md-8">
            <div class="content">
                <div class="row space-row">
                    {{#each getData}}
                        <div class="col-md-4"> 
                            <a href="/details/{{_id}}">
                                <img src="{{image}}" height="70" class="img-responsive center-block">
                            </a>
                            <h3 class="text-center space-top">{{product_name}}</h3> 
                            <h3 class="text-center price">  </h3>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{> pagination}}
        </div>
    </div>
</template>