<template name="Allprofessional">
	{{> leftside}}
		<div class="content-a">
			   <h1 class="margin-bottom h1-bold">PROFESSIONAL CRITICS : INCARNATA D’ANATOLE LEBRETO .......</h1>
			<div class="row space-top-fragrand">
			    {{#each getReview}}
					<div class="col-md-6">
					<!-- show comment -->
						<div class="show-comment"> 
							<p class="text-review">{{text}}
							</p>
							<a href="{{url}}" target="_blank" class="pull-right review-link">Full Review... <span style="color:#1C1C1C">  | {{date}}</span></a>
						</div>
						<!-- end show comment -->
						<div style="float:left">
							<img src="/images/default_avatar.jpg" class="img-circle responsive">
						</div>
						<div style="float:left">
							<p class="text-name">{{getUserReview author}} </p>
							<span class="color-text">{{websiteName}}</span>
						</div>
					</div> 
				{{/each}}
			</div>
		</div>
</template>