<template name="adminmenu">
	<div class="col-md-3">
		<h1>Admin Menu</h1>
		<ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
		    <li class="active"><a href="#"><span class="glyphicon glyphicon-off"></span>Overview</a></li>
		    <li><a href="/admin/product"><span class="glyphicon glyphicon-user"></span>  Manage Product</a></li>
		    <li><a href="/admin/product/add"><span class="glyphicon glyphicon-user"></span> Add Product</a></li>
		    <li><a href="/admin/manageCategory"><span class="glyphicon glyphicon-user"></span>Manage Categories</a></li>
		    <li><a href="/admin/addCategory"><span class="glyphicon glyphicon-user"></span> Add Categories</a></li>
		    <li><a href="/admin/managereview"><span class="glyphicon glyphicon-list"></span>  Manage Review</a></li>
		    <li><a href="/admin/addreview"><span class="glyphicon glyphicon-list"></span>  Add Review</a></li>
		     <li><a href="/admin/adduser"><span class="glyphicon glyphicon-list"></span>  Add User</a></li>
		     <li><a href="/admin/listuser"><span class="glyphicon glyphicon-list"></span>  List User</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Setting</a></li>
		</ul>
	</div>
</template>